.callto {
  background-color: var(--blue-color);
  padding: 50px 0 60px;
  margin-bottom: 200px;
  @media (max-width: (1023px)) {
    margin-bottom: 70px;
  }
}

.callto__container {
  background-color: #eeeeee;
  @include flex-all-sb;
  padding: 10px 60px;
  margin-right: -13px;

  -webkit-box-shadow: -10px 10px 0px 0px rgba(246, 109, 70, 1);
  -moz-box-shadow: -10px 10px 0px 0px rgba(246, 109, 70, 1);
  box-shadow: -10px 10px 0px 0px rgba(246, 109, 70, 1);

  @include tablet {
    display: none;
  }
}

.callto__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 200%;
  letter-spacing: -0.07em;

  color: var(--black-color);
}

.second__callto {
  display: flex;
  align-items: center;
  flex-direction: column;

  .callto__title {
    color: var(--light-color);
    text-align: center;

    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: -0.07em;
    margin-bottom: 45px;
  }

  @media (min-width: (1100px)) {
    display: none;
  }
}
