.contacts {
  margin-top: 200px;
  margin-bottom: 200px;

  font-size: 18px;
  line-height: 180%;
  letter-spacing: -0.025em;

  color: var(--grey-color);
}
.contacts__title {
  margin-bottom: 70px;
  letter-spacing: -0.07em;
  font-size: 35px;
}
.contacts__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.contacts__adress {
  margin-bottom: 25px;
}
.contacts__geo {
  margin-bottom: 25px;
}
.contacts__mail{
  margin-bottom: 50px;
}

.social {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 40px;
}

.social__link {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 22px;
}

.social__link--fb {
  background-image: url(/img/svg/facebook.svg);
}

.social__link--inst {
  background-image: url(/img/svg/insta.svg);
}

.conacts__map {
  display: flex;

  min-width: 67%;
  background-image: url(/img/map.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  justify-content: center;

  a {
    margin: 138px;
  }
}
.contacts__departments {
  display: flex;
  justify-content: space-between;
}

.subcont__title {
  font-weight: 500;
  font-size: 31px;
  line-height: 130%;
  letter-spacing: -0.045em;

  color: var(--black-color);

  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #222222;
}
.subcont__value {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.025em;

  color: #5e5e5e;
}
.subcont__desc {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.025em;

  color: #9d9d9d;
  margin-bottom: 15px;
}
