.footer {
  background-color: var(--blue-color);
  color: var(--light-color);
  padding-top: 100px;

  padding-bottom: 100px;

  @media (max-width: (1023px)) {
    padding-top: 40px;
  }
}

.container {}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__form {
  @media (max-width: (1023px)) {
    display: none;
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: (1023px)) {
    width: 100%;
  }
}

.footer__logo {
  margin-top: 50px;
  margin-bottom: 55px;
  max-width: 90px;

  @media (max-width: (1023px)) {
    max-width: none;
    margin-top: 0;
    margin-bottom: 40px;
    @include flex-all-center;
  }

  img {
    @media (max-width: (1023px)) {
      width: 260px;
    }
  }
}

.footer__nav {
  .nav__item {
    @media (max-width: (1023px)) {
      font-size: 28px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: (1023px)) {
        margin-bottom: 24px;
      }
    }
  }

  a {
    color: var(--light-color);
  }
}

.footer__navlits {
  @include tablet {
    display: block;
  }
}

.footer_soclink--inst {
  background-image: url(/img/svg/insta_white.svg);
  transition: all 0.3s ease;

  &:hover {
    background-image: url(/img/svg/insta.svg);
    transition: all 0.3s ease;
  }
}

.footer_soclink--fb {
  background-image: url(/img/svg/fb_white.svg);
  transition: all 0.3s ease;

  &:hover {
    background-image: url(/img/svg/facebook.svg);
    transition: all 0.3s ease;
  }
}

.footer__social {
  margin-top: 90px;

  @media (max-width: (1023px)) {
    margin-top: 30px;
  }
}

.footer__sign {
  width: 200%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.025em;

  color: var(--blue-color);

  span {
    margin-right: 60px;
    @include tablet {
      margin-right: 9px;
    }

    a {
      font-weight: bold;
    }
  }

  @include tablet {
    width: 100%;

    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.025em;
  }
}

.authors{
  display: flex;
}
.desktop__sign {
  @include tablet {
    display: none;
  }
}

.mobile__sign {
  display: none;
  background-color: var(--blue-color);
  color: var(--light-color);

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
