.footer {
  background-color: var(--blue-color);
  color: var(--light-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.container {
}
.footer__container {
}
.footer__form {
}
.footer__menu {
}
