.nav__list {
  @include tablet {
    display: none;
    color: var(--light-color);
  }
}

.nav__item {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: -0.025em;

  &:not(:last-child) {
    margin-right: 50px;
  }

  @include tablet {
    font-weight: 500;
    font-size: 34px;
    line-height: 200%;
    letter-spacing: -0.025em;
    margin-bottom: 15px;
  }


}

.nav__item-active {
  color: #f66d46;
  border-bottom: 2px solid #f66d46;
}

.burger {
  @include burger;
  color: var(--color-white);

  @include tablet {
    display: block;
  }
}

.burger--active {
  color: var(--light-color);
}

.menu--active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 20px 100px;
}
