.nav {
}

.nav__item {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: -0.025em;

  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__item-active {
  color: #f66d46;
  border-bottom: 1px solid #f66d46;
}

.menu--active{

}

.burger {
  @include burger
}
