.service {
  background-color: var(--blue-color);
  padding: 125px 0;

  @include small-tablet {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (max-width: (1023px)) and (min-width: (769px)) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.service__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include small-tablet {
    flex-direction: column;
  }
}

.service__title {
  display: flex;
  align-items: flex-end;
  padding-bottom: 175px;

  font-weight: 600;
  font-size: 39px;
  line-height: 130%;
  letter-spacing: -0.07em;

  color: var(--light-color);

  background-image: url(/img/services.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 60px 0;
  width: 490px;
  height: 750px;

  @include tablet {
    margin-bottom: 45px;
    background-size: contain;
    font-size: 28px;
    background-position: 60px 0;
    width: 100%;
  }

  @include small-tablet {
    width: 100%;
    height: 524px;
  }

  @media (max-width: (1023px)) and (min-width: (769px)) {
    margin-right: 15px;
    margin-bottom: 0;
  }

  @media (max-width: (768px)) and (min-width: (425px)) {
    justify-content: center;
    background-position: calc(50% + 100px);
    margin-left: -160px;
  }
}

.service__list {
  margin-left: 110px;
  width: 600px;

  @include tablet {
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: (1024px)) and (min-width: (1000px)) {
    margin-left: 30px;
  }
}

.list__header {
  font-weight: 600;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: -0.07em;

  color: var(--light-color);

  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 32px;
    font-size: 28px;
  }
}

.list__item {
  font-size: 18px;
  line-height: 185%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  cursor: pointer;

  a {
    color: var(--light-color);
  }

  background-image: url(/img/svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;

  padding: 25px 0;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(213, 213, 213, 0.25);
  }

  @include tablet {
    padding-right: 90px;
  }
}

.service__btn{
  font-size: 18px;
  line-height: 185%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  text-align: left;
  color: var(--light-color);
}
