.team {
  padding-top: 100px;
  padding-bottom: 200px;
  @include tablet {
    padding-top: 32px;
    padding-bottom: 72px;
  }
}

.team__container {}

.team__header {
  font-weight: 500;
  font-size: 80px;

  @include tablet {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  @include mobile {
    font-size: 28px;
  }
}

.team__subheader {
  display: flex;
  justify-content: flex-end;

  font-weight: normal;
  font-size: 18px;
  margin-bottom: 100px;
  margin-top: -18px;
  min-width: 285px;

  @include tablet {
    display: none;
  }
}

.team__content {
  @include flex-all-sb;
  @include tablet {
    flex-direction: column-reverse;
  }
}

.team__text {
  width: 50%;
  padding-right: 60px;
  @include tablet {
    width: 100%;
    padding-right: 0;
  }
}

.team__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 160%;
  margin-bottom: 35px;
  @include tablet {
    margin-bottom: 24px;
  }
}

.team__desc {
  font-size: 18px;
  line-height: 160%;

}

.team__image {}

.desktop__img{
  @include tablet {
    display: none;
  }
}

.mobile__img{
  display: none;
  @include tablet {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
  }
}
