<section class="benefits">
  <div class="container benefits-container">
    <div class="benefits__title">Гречко-Транс-Сервис. С нами — за горизонт!</div>
    <div class="benefits__list">
      <div class="benefits__item">
        <div class="benefits__header">10 лет</div>
        <div class="benefits__desc desc">официальный сервис Volvo Trucks и Renault Trucks</div>
      </div>
      <div class="benefits__item">
        <div class="benefits__header">20 лет</div>
        <div class="benefits__desc desc">на рынке международных грузоперевозок</div>
      </div>
      <div class="benefits__item">
        <div class="benefits__header">1 000 +</div>
        <div class="benefits__desc desc">закрытых заказ-нарядов в год</div>
      </div>
      <div class="benefits__item">
        <div class="benefits__header">2 000 +</div>
        <div class="benefits__desc desc">оригинальных запчастей на складе</div>
      </div>
    </div>
  </div>
</section>
