<section class="callto">
  <div class="container">
    <div class="callto__container">
      <div class="callto__title">Будем рады работать с Вами!</div>
      <button class="callto__btn btn-reset btn sec-btn" data-graph-path="main__modal" data-graph-speed="200">Оставить заявку</button>
    </div>
    <div class="second__callto">
      <div class="callto__title">Возникла проблема? Мы готовы помочь прямо сейчас!</div>
      <button class="callto__btn btn-reset btn sec-btn" data-graph-path="main__modal" data-graph-speed="200">Оставить заявку</button>
    </div>
  </div>
</section>
