<section class="contacts">
  <div class="container section__container">
    <div class="contacts__title title">Контакты</div>
    <div class="contacts__main">
      <div class="contacts__list">
        <div class="contacts__adress">
          УП “Гречко-Транс-Сервис”<br />ул. Городская, 61<br />г. Брест,
          Республика Беларусь<br />224000
        </div>
        <div class="contacts__geo">52.140583, 23.740856</div>
        <div class="contacts__phone">+375 29 606 14 14</div>
        <div class="contacts__mail">gai-tir@gmail.com</div>
      </div>
      <div class="conacts__map">
        <a href="https://g.page/volvo_renault_brest">
          <img src="./img/svg/big_arrow.svg" alt="Location map" />
        </a>
      </div>
    </div>
    <div class="contacts__departments">
      <div class="contacts__service subcont">
        <div class="subcont__title">Сервис</div>
        <div class="subcont__value">+375 29 606 14 14</div>
        <div class="subcont__desc">(Viber, WhatsApp, Telegram)</div>
        <div class="subcont__value">+375 162 45 55 56</div>
        <div class="subcont__desc">(телефон, факс)</div>
        <div class="subcont__value">service@gtsvolvo.com</div>
      </div>
      <div class="contacts__trucking subcont">
        <div class="subcont__title">Грузоперевозки</div>
        <div class="subcont__value">+375 29 326 73 67</div>
        <div class="subcont__desc">(Viber, WhatsApp, Telegram)</div>
        <div class="subcont__value">+375 29 388 18 11</div>
        <div class="subcont__desc">(Viber, WhatsApp, Telegram)</div>
        <div class="subcont__value">gai-tir@gtsvolvo.com</div>
      </div>
      <div class="contacts__accounting subcont">
        <div class="subcont__title">Бухгалтерия</div>
        <div class="subcont__value">+375 29 325 92 59</div>
        <div class="subcont__desc">(Viber, WhatsApp, Telegram)</div>
        <div class="subcont__value">+375 162 45 52 50</div>
        <div class="subcont__desc">(телефон, факс)</div>
        <div class="subcont__value">buh@gtsvolvo.com</div>
      </div>
    </div>
  </div>
</section>
