<section class="contacts">
  <div class="container section__container">
    <div class="contacts__title title">Контакты</div>
    <div class="contacts__main">
      <div class="contacts__list">
        <div class="contacts__adress">
          УП “Гречко-Транс-Сервис”<br />ул. Городская, 61<br />г. Брест,
          Республика Беларусь<br />224000
        </div>
        <div class="contacts__geo"><a href="https://g.page/volvo_renault_brest" class="link" target="_blanck">52.140583, 23.740856</a></div>
        <div class="contacts__phone"><a href="tel:+375296061414" class="link">+375 29 606 14 14</a></div>
        <div class="contacts__mail"><a href="gai-tir@gtsvolvo.com" class="link">gai-tir@gtsvolvo.com</a></div>
        <ul class="contacts__social social">
          <li class="social__item">
            <a
              href="#"
              class="social__link social__link--inst"
              aria-label="Перейти в Instagram"
              target="_blanck"
            ></a>
          </li>
          <li class="social__item">
            <a
              href="#"
              class="social__link social__link--fb"
              aria-label="Перейти в Facebook"
              target="_blanck"
            ></a>
          </li>
        </ul>
      </div>
      <div class="conacts__map">
        <a href="https://g.page/volvo_renault_brest" target="_blanck">
          <img src="./img/svg/big_arrow.svg" alt="Location map" />
        </a>
      </div>
    </div>
    <div class="contacts__departments">
      <div class="contacts__service subcont">
        <div class="subcont__title">Сервис</div>
        <div class="subcont__value"><a href="tel:+375296061414" class="link">+375 29 606 14 14</a></div>
        <div class="subcont__desc">(Viber, WhatsApp, Telegram)</div>
        <div class="subcont__value"><a href="tel:+375162455556" class="link">+375 162 45 55 56</a></div>
        <div class="subcont__desc">(телефон, факс)</div>
        <div class="subcont__value"><a href="mailto:service@gtsvolvo.com" class="link">service@gtsvolvo.com</a></div>
      </div>
      <div class="contacts__trucking subcont">
        <div class="subcont__title">Грузоперевозки</div>
        <div class="subcont__value"><a href="tel:+375293267367" class="link">+375 29 326 73 67</a></div>
        <div class="subcont__desc">(Viber, WhatsApp, Telegram)</div>
        <div class="subcont__value"><a href="tel:+375293881811" class="link">+375 29 388 18 11</a></div>
        <div class="subcont__desc">(Viber, WhatsApp, Telegram)</div>
        <div class="subcont__value"><a href="mailto:gai-tir@gtsvolvo.com" class="link">gai-tir@gtsvolvo.com</a></div>
      </div>
      <div class="contacts__accounting subcont">
        <div class="subcont__title">Бухгалтерия</div>
        <div class="subcont__value"><a href="tel:+375293259259" class="link">+375 29 325 92 59</a></div>
        <div class="subcont__desc">(Viber, WhatsApp, Telegram)</div>
        <div class="subcont__value"><a href="tel:+375162455250" class="link">+375 162 45 52 50</a></div>
        <div class="subcont__desc">(телефон, факс)</div>
        <div class="subcont__value"><a href="mailto:buh@gtsvolvo.com" class="link">buh@gtsvolvo.com</a></div>
      </div>
    </div>
  </div>
</section>
