<footer class="footer">
  <div class="container footer__container">
    <div class="footer__form form">
      <div class="form__title title">Оставьте заявку</div>
      <div class="form__subtitle">Мы перезвоним и ответим на каждый вопрос</div>
      <div class="form__row">
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="name" class="form__input" required />
          <div class="place_holder">Имя</div>
        </div>
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="lastname" class="form__input" required />
          <div class="place_holder">Фамилия</div>
        </div>
      </div>
      <div class="form__field placeinput">
        <input type="tel" name="phone" class="form__input" required />
        <div class="place_holder">Телефон</div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="bid" class="form__input" required />
        <div class="place_holder">Введите необходимую услугу</div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">
          Опишите ваш запрос и укажите номер шасси, при выборе СТО
        </div>
      </div>
      <div class="bnt-reset sec-btn form__btn">Отправить заявку</div>
    </div>
    <div class="footer__menu">
      <div class="footer__logo">
        <img src="img/logo.png" alt="">
      </div>
      <div class="footer__nav nav">
        <nav class="nav" title="">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Команда</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Карьера</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <ul class="contacts__social social footer__social">
        <li class="social__item">
          <a
            href="#"
            class="social__link footer_soclink--inst"
            aria-label="Перейти в Instagram"
          ></a>
        </li>
        <li class="social__item">
          <a
            href="#"
            class="social__link footer_soclink--fb"
            aria-label="Перейти в Facebook"
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container footer__sign">
      <span>© 2022 Grechko Trans Service UE</span>
      <span>Designed by <a href="">@khablovushka</a></span>
      <span>Developed by <a href="">@sladkiymed</a></span>
    </div>
</footer>
