<header class="header">
  <div class="container top__header">
    <div class="header__contacts">
      <div class="header__item header__mail">
        <a href="mailto:gai-tir@gtsvolvo.com">gai-tir@gtsvolvo.com</a>
      </div>
      <div class="header__item header__adress">
        <a href="https://g.page/volvo_renault_brest">Республика Беларусь, г. Брест, ул. Городская, 61</a>
      </div>
      <div class="header__item header__phone">
        <a href="tel:+375296061414">+375 29 606 14 14</a>
      </div>
    </div>
  </div>
  <div class="header__line"></div>

  <div class="main__header container flex">
    <div class="header__logo">
      <a href="/"><img src="img/svg/logo-full-color.svg" class="image" width="210px" height="50px" alt="GTS Logo"></a>
    </div>
    <nav class="header__nav nav flex" title="Main menu">
      <ul class="nav__list flex" data-menu>
        <li class="nav__item"><a href="/team.html" class="nav__link link">Команда</a></li>
        <li class="nav__item"><a href="/offer.html" class="nav__link link">Услуги</a></li>
        <li class="nav__item"><a href="/career.html" class="nav__link link">Карьера</a></li>
        <li class="nav__item"><a href="/contacts.html" class="nav__link link">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__imgs imgs flex">
      <div class="header__btn btn-reset prime-btn">Заказать звонок</div>
      <div class="imgs__item"><img src="img/svg/volvo.svg" alt=""></div>
      <div class="imgs__item"><img src="img/svg/renault.svg" alt=""></div>
    </div>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
