<header class="header">
  <div class="container">
    <div class="header__contacts">
      <div class="header__item header__mail">
        <a href="mailto:gai-tir@gtsvolvo.com">gai-tir@gtsvolvo.com</a>
      </div>
      <div class="header__item header__adress">
        <a href="https://g.page/volvo_renault_brest"
          >Республика Беларусь, г. Брест, ул. Городская, 61</a
        >
      </div>
      <div class="header__item header__phone">
        <a href="tel:+375296061414">+375 29 606 14 14</a>
      </div>
    </div>
  </div>
  <div class="header__line"></div>
  <div class="container">
    <div class="main__header flex">
      <div class="header__logo">
        <a href="/"><img src="img/logo.png" alt="GTS Logo" /></a>
      </div>
      <div class="header__nav nav flex">
        <div class="nav__item"><a href="">Команда</a></div>
        <div class="nav__item"><a href="">Услуги</a></div>
        <div class="nav__item"><a href="">Карьера</a></div>
        <div class="nav__item"><a href="">Контакты</a></div>
      </div>
      <div class="header__imgs imgs flex">
        <div class="header__btn btn-reset prime-btn">Заказать звонок</div>
        <div class="imgs__item"><img src="img/svg/volvo.svg" alt=""></div>
        <div class="imgs__item"><img src="img/svg/renault.svg" alt=""></div>
      </div>
    </div>
  </div>
</header>
