<section class="hero">
  <div class="container hero-container">
    <div class="hero__content content">
      <h1 class="content__title title ">Поддержка для вашего автомобиля</h1>
      <div class="content__desc desc">Гречко-Транс-Сервис – это самый простой способ решить проблемы, связанные с Вашим грузовым автомобилем и перевозками.</div>
      <button class="btn btn-reset content__btn sec-btn" data-graph-path="main__modal" data-graph-speed="200">Оставить заявку</button>
    </div>
    <div class="hero__img img">
      <img src="img/main.jpg" alt="Main IMG GTS">
    </div>
  </div>
</section>
