<div class="graph-modal modal">

  <!-- Общая модалка -->
  <div class="graph-modal__container my-modal" role="dialog" aria-modal="true" data-graph-target="main__modal" >
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modal__title">Выберите необходимую услугу</div>
      <div class="modal__nav">
        <div class="btn-reset prime-btn modal__btn" data-graph-path="truck" data-graph-speed="200">Грузоперевозки</div>
        <div class="btn-reset prime-btn modal__btn" data-graph-path="sto" data-graph-speed="200">СТО Volvo / Renault</div>
        <div class="btn-reset prime-btn modal__btn" data-graph-path="spares" data-graph-speed="200">Магазин</div>
        <div class="btn-reset prime-btn modal__btn" data-graph-path="forwarding" data-graph-speed="200">Экспедиция</div>
        <div class="btn-reset prime-btn modal__btn" data-graph-path="washing" data-graph-speed="200">Мойка</div>
        <div class="btn-reset prime-btn modal__btn" data-graph-path="towing" data-graph-speed="200">Техническая помощь</div>
      </div>
    </div>
  </div>

  <!-- Модалка "Грузоперевозки" -->
  <div class="graph-modal__container my-modal" role="dialog" aria-modal="true" data-graph-target="truck">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modal__title">Заполните детали заявки, это поможет успешнее отреагировать на ваш запрос по международным грузоперевозкам</div>
      <div class="form__row">
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="name" class="form__input" required />
          <div class="place_holder">Имя<span>*</span></div>
        </div>
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="lastname" class="form__input" required />
          <div class="place_holder">Фамилия</div>
        </div>
      </div>
      <div class="form__field placeinput">
        <input type="tel" name="phone" class="form__input" required />
        <div class="place_holder">Телефон<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="bid" class="form__input" required />
        <div class="place_holder">Маршрут перевозки<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">Тип транспортного средства<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">Груз</div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">Тоннаж</div>
      </div>
      <button class="bnt-reset sec-btn send__btn">Отправить заявку</button>
      <div class="modal-back-btn">
        <button class="btn-back modal-btn" data-graph-path="main__modal" data-graph-speed="200">
          <img src="img/svg/arrow.svg" alt="" />
          <p class="link">Вернуться</p>
        </button>
      </div>
    </div>
  </div>

  <!-- Модалка "СТО" -->
  <div class="graph-modal__container my-modal" role="dialog" aria-modal="true" data-graph-target="sto">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modal__title">Заполните детали заявки, это поможет успешнее отреагировать на ваш запрос по услугам СТО</div>
      <div class="form__row">
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="name" class="form__input" required />
          <div class="place_holder">Имя<span>*</span></div>
        </div>
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="lastname" class="form__input" required />
          <div class="place_holder">Фамилия</div>
        </div>
      </div>
      <div class="form__field placeinput">
        <input type="tel" name="phone" class="form__input" required />
        <div class="place_holder">Телефон<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="bid" class="form__input" required />
        <div class="place_holder">Марка, модель грузового автомобиля<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">VIN номер<span>*</span></div>
      </div>
      <button class="bnt-reset sec-btn send__btn">Отправить заявку</button>
      <div class="modal-back-btn">
        <button class="btn-back modal-btn" data-graph-path="main__modal" data-graph-speed="200">
          <img src="img/svg/arrow.svg" alt="" />
          <p class="link">Вернуться</p>
        </button>
      </div>
    </div>
  </div>

  <!-- Модалка "Автозапчасти" -->
  <div class="graph-modal__container my-modal" role="dialog" aria-modal="true" data-graph-target="spares">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modal__title">Заполните детали заявки, это поможет успешнее отреагировать на ваш запрос по услугам магазина автозапчастей</div>
      <div class="form__row">
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="name" class="form__input" required />
          <div class="place_holder">Имя<span>*</span></div>
        </div>
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="lastname" class="form__input" required />
          <div class="place_holder">Фамилия</div>
        </div>
      </div>
      <div class="form__field placeinput">
        <input type="tel" name="phone" class="form__input" required />
        <div class="place_holder">Телефон<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="bid" class="form__input" required />
        <div class="place_holder">Марка, модель грузового автомобиля<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">VIN номер<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">Необходимая деталь</div>
      </div>
      <button class="bnt-reset sec-btn send__btn">Отправить заявку</button>
      <div class="modal-back-btn">
        <button class="btn-back modal-btn" data-graph-path="main__modal" data-graph-speed="200">
          <img src="img/svg/arrow.svg" alt="" />
          <p class="link">Вернуться</p>
        </button>
      </div>
    </div>
  </div>

  <!-- Модалка "Мойка" -->
  <div class="graph-modal__container my-modal" role="dialog" aria-modal="true" data-graph-target="washing">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modal__title">Заполните детали заявки, это поможет успешнее отреагировать на ваш запрос по услугам автомойки</div>
      <div class="form__row">
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="name" class="form__input" required />
          <div class="place_holder">Имя<span>*</span></div>
        </div>
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="lastname" class="form__input" required />
          <div class="place_holder">Фамилия</div>
        </div>
      </div>
      <div class="form__field placeinput">
        <input type="tel" name="phone" class="form__input" required />
        <div class="place_holder">Телефон<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="bid" class="form__input" required />
        <div class="place_holder">Название фирмы</div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">Тип грузового / пассажирского транспортного средства<span>*</span></div>
      </div>
      <button class="bnt-reset sec-btn send__btn">Отправить заявку</button>
      <div class="modal-back-btn">
        <button class="btn-back modal-btn" data-graph-path="main__modal" data-graph-speed="200">
          <img src="img/svg/arrow.svg" alt="" />
          <p class="link">Вернуться</p>
        </button>
      </div>
    </div>
  </div>

  <!-- Модалка "Экспедиция грузов" -->
  <div class="graph-modal__container my-modal" role="dialog" aria-modal="true" data-graph-target="forwarding">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modal__title">Заполните детали заявки, это поможет успешнее отреагировать на ваш запрос по экспедированию грузов</div>
      <div class="form__row">
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="name" class="form__input" required />
          <div class="place_holder">Имя<span>*</span></div>
        </div>
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="lastname" class="form__input" required />
          <div class="place_holder">Фамилия</div>
        </div>
      </div>
      <div class="form__field placeinput">
        <input type="tel" name="phone" class="form__input" required />
        <div class="place_holder">Телефон<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="bid" class="form__input" required />
        <div class="place_holder">Маршрут перевозки<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">Тип транспортного средства<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="desc" class="form__input" required />
        <div class="place_holder">Груз<span>*</span></div>
      </div>
      <button class="bnt-reset sec-btn send__btn">Отправить заявку</button>
      <div class="modal-back-btn">
        <button class="btn-back modal-btn" data-graph-path="main__modal" data-graph-speed="200">
          <img src="img/svg/arrow.svg" alt="" />
          <p class="link">Вернуться</p>
        </button>
      </div>
    </div>
  </div>

  <!-- Модалка "Эвакуатор" -->
  <div class="graph-modal__container my-modal" role="dialog" aria-modal="true" data-graph-target="towing">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modal__title">Заполните детали заявки, это поможет успешнее отреагировать на ваш запрос
        по технической помощи / услугам эвакуатора</div>
      <div class="form__row">
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="name" class="form__input" required />
          <div class="place_holder">Имя<span>*</span></div>
        </div>
        <div class="form__field form__field--inline placeinput">
          <input type="text" name="lastname" class="form__input" required />
          <div class="place_holder">Фамилия</div>
        </div>
      </div>
      <div class="form__field placeinput">
        <input type="tel" name="phone" class="form__input" required />
        <div class="place_holder">Телефон<span>*</span></div>
      </div>
      <div class="form__field placeinput">
        <input type="text" name="bid" class="form__input" required />
        <div class="place_holder">Маршрут эвакуации / нахождение транспортного средства<span>*</span></div>
      </div>
      <button class="bnt-reset sec-btn send__btn">Отправить заявку</button>
      <div class="modal-back-btn">
        <button class="btn-back modal-btn" data-graph-path="main__modal" data-graph-speed="200">
          <img src="img/svg/arrow.svg" alt="" />
          <p class="link">Вернуться</p>
        </button>
      </div>
    </div>
  </div>
</div>
