<section class="offers">
  <div class="container offers__container">
    <h1 class="offers__title title">Эффективное решение задач для Вашего бизнеса</h1>
    <div class="offers__list">
      <div class="offers__row">
        <picture class="offers__img">
          <source srcset="/img/1.avif" type="image/avif">
          <source srcset="/img/1.webp" type="image/webp">
          <img loading="lazy" src="/img/1.jpg" class="image">
        </picture>
        <div class="offers__content">
          <div class="offers__header title">Международные грузоперевозки</div>
          <div class="offers__desc desc">Перевозка продуктов питания, заморозки, опасных грузов (ADR), насыпных грузов и
            т.д. нашим автопарком, средний возраст которого три года.
          </div>
          <button class="offers__btn btn btn-reset" data-graph-path="truck" data-graph-speed="200">
            <div class="btn__text link">Отправить заявку</div>
            <div class="btn__img"></div>
          </button>
        </div>
      </div>
      <div class="offers__row">
        <div class="offers__content">
          <div class="offers__header title">СТО Volvo Trucks и Renault Trucks</div>
          <div class="offers__desc desc">Более 10 лет единственная официальная СТО в западном регионе Беларуси.
            Профессиональный подход к каждому автомобилю.
          </div>
          <button class="offers__btn btn btn-reset" data-graph-path="sto" data-graph-speed="200">
            <div class="btn__text link">Отправить заявку</div>
            <div class="btn__img"></div>
          </button>
        </div>
        <picture class="offers__img">
          <source srcset="/img/2.avif" type="image/avif">
          <source srcset="/img/2.webp" type="image/webp">
          <img loading="lazy" src="/img/2.jpg" class="image image__right">
        </picture>
      </div>
      <div class="offers__row">
        <picture class="offers__img">
          <source srcset="/img/3.avif" type="image/avif">
          <source srcset="/img/3.webp" type="image/webp">
          <img loading="lazy" src="/img/3.jpg" class="image">
        </picture>
        <div class="offers__content">
          <div class="offers__header title">Магазин автозапчастей</div>
          <div class="offers__desc desc">Более 2000 наименований в наличии на складе. Доставка на следующий рабочий день
            запчастей под заказ. Система скидок для постоянных клиентов.
          </div>
          <button class="offers__btn btn btn-reset" data-graph-path="spares" data-graph-speed="200">
            <div class="btn__text link">Отправить заявку</div>
            <div class="btn__img"></div>
          </button>
        </div>
      </div>
      <div class="offers__row">
        <div class="offers__content">
          <div class="offers__header title">Экспедиция</div>
          <div class="offers__desc desc">Поможем вашему бизнесу доставить необходимый груз точно в срок.</div>
          <button class="offers__btn btn btn-reset" data-graph-path="forwarding" data-graph-speed="200">
            <div class="btn__text link">Отправить заявку</div>
            <div class="btn__img"></div>
          </button>
        </div>
        <picture class="offers__img">
          <source srcset="/img/4.avif" type="image/avif">
          <source srcset="/img/4.webp" type="image/webp">
          <img loading="lazy" src="/img/4.jpg" class="image" style="object-position: -80px;">
        </picture>
      </div>
      <div class="offers__row">
        <picture class="offers__img">
          <source srcset="/img/5.avif" type="image/avif">
          <source srcset="/img/5.webp" type="image/webp">
          <img loading="lazy" src="/img/5.jpg" class="image">
        </picture>
        <div class="offers__content">
          <div class="offers__header title">Мойка грузовых автомобилей</div>
          <div class="offers__desc desc">Автомойка грузовых автомобилей различных типов, спецтехники и автобусов.</div>
          <button class="offers__btn btn btn-reset" data-graph-path="washing" data-graph-speed="200">
            <div class="btn__text link">Отправить заявку</div>
            <div class="btn__img"></div>
          </button>
        </div>
      </div>
      <div class="offers__row">
        <div class="offers__content">
          <div class="offers__header title">Техническая помощь / Эвакуатор</div>
          <div class="offers__desc desc">Помощь на дороге при помощи Volvo Action Service и Renault Trucks 24/7. Эвакуация грузовых автомобилей.</div>
          <button class="offers__btn btn btn-reset" data-graph-path="towing" data-graph-speed="200">
            <div class="btn__text link">Отправить заявку</div>
            <div class="btn__img"></div>
          </button>
        </div>
        <picture class="offers__img">
          <source srcset="/img/6.avif" type="image/avif">
          <source srcset="/img/6.webp" type="image/webp">
          <img loading="lazy" src="/img/6.jpg" class="image" style="object-position: -140px;">
        </picture>
      </div>
    </div>
  </div>
</section>
