<section class="offers">
  <div class="container offers__container">
    <h1 class="offers__title title">Эффективное решение задач для Вашего бизнеса</h1>
    <div class="offers__list">
      <div class="offers__row">
        <div class="offers__img">
          <picture>
            <source srcset="/img/1.avif" type="image/avif">
            <source srcset="/img/1.webp" type="image/webp">
            <img loading="lazy" src="/img/1.jpg" class="image">
          </picture>
        </div>
        <div class="offers__content">
          <div class="offers__title">Международные грузоперевозки</div>
          <div class="offers__desc">Перевозка продуктов питания, заморозки, опасных грузов (ADR), насыпных грузов и т.д.
            нашим автопарком, средний возраст которого три года.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
