<section class="service">
  <div class="container service__container">
    <div class="service__title">Честность.<br />Надежность.<br />Качество.</div>
    <div class="service__list list">
      <div class="list__header">Наши услуги</div>
      <ul class="list-reset">
        <li class="list__item"><a href="#">Международные грузоперевозки</a></li>
        <li class="list__item">
          <a href="#">СТО Volvo Trucks / Renault Trucks</a>
        </li>
        <li class="list__item"><a href="#">Магазин автозапчастей</a></li>
        <li class="list__item"><a href="#">Экспедиция</a></li>
        <li class="list__item"><a href="#">Мойка грузовых автомобилей</a></li>
        <li class="list__item">
          <a href="#">Техническая помощь / Эвакуатор</a>
        </li>
      </ul>
    </div>
  </div>
</section>
