<section class="service">
  <div class="container service__container">
    <div class="service__title">Честность.<br />Надежность.<br />Качество.</div>
    <div class="service__list list">
      <div class="list__header">Наши услуги</div>
      <ul class="list-reset">
        <li class="list__item"><button class="btn-reset link service__btn" data-graph-path="truck" data-graph-speed="200">Международные грузоперевозки</button></li>
        <li class="list__item">
          <button class="btn-reset link service__btn" data-graph-path="sto" data-graph-speed="200">СТО Volvo Trucks / Renault Trucks</button>
        </li>
        <li class="list__item"><button class="btn-reset link service__btn" data-graph-path="spares" data-graph-speed="200">Магазин автозапчастей</button></li>
        <li class="list__item"><button class="btn-reset link service__btn" data-graph-path="forwarding" data-graph-speed="200">Экспедиция</button></li>
        <li class="list__item"><button class="btn-reset link service__btn" data-graph-path="washing" data-graph-speed="200">Мойка грузовых автомобилей</button></li>
        <li class="list__item">
          <button class="btn-reset link service__btn" data-graph-path="towing" data-graph-speed="200">Техническая помощь / Эвакуатор</button>
        </li>
      </ul>
    </div>
  </div>
</section>
