<section class="team">
  <div class="container team__container">
    <h1 class="team__header title">Наша команда</h1>
    <div class="team__subheader">Профессионалы, влюбленные<br>в свое дело</div>
    <div class="team__content">
      <div class="team__text">
        <div class="team__title title">Гречко-Транс-Сервис</div>
        <div class="team__desc desc">История нашей транспортной компании начинается с 1997 года с двух поддержанных  тягачей и пяти сотрудников. Мы развивались в двух областях: в обслуживании грузовых автомобилей и  международных грузоперевозках. Автопарк постепенно прибавлялся, сервис развивался. В 2009 году автопарк  превысил 20 современных автопоездов и наш сервис приобрёл официальную авторизацию от Volvo Trucks  Corporation. На 2022 год мы имеем парк со средним возрастом 3 года класса Euro 6 и 5 и статус  единственной авторизованной сервисной станции Volvo / Renault Trucks в западной Беларуси.</div>
      </div>
      <picture class="team__image desktop__img">
        <source srcset="/img/team.avif" type="image/avif">
        <source srcset="/img/team.webp" type="image/webp">
        <img loading="lazy" src="/img/team.jpg" class="image" alt="GTS Boxes">
      </picture>
      <picture class="team__image mobile__img">
        <source srcset="/img/team__mobile.avif" type="image/avif">
        <source srcset="/img/team__mobile.webp" type="image/webp">
        <img loading="lazy" src="/img/team__mobile.jpg" class="image" alt="GTS Boxes">
      </picture>
    </div>
  </div>
</section>
