<section class="vacancies">
  <div class="container vacancies__container">
    <div class="vacancies__title title">Присоединяйтесь</div>
    <div class="vacancies__desc desc">Станьте частью нашей команды</div>
    <div class="vacancies__content">
      <table class="vacancies__table">
        <tr>
          <th class="col1">Должность</th>
          <th class="col2">Навыки</th>
          <th class="col3">Заработная плата</th>
        </tr>
        <tr>
          <td class="col1">Водитель-международник</td>
          <td class="col2">
            Стаж от 1 года<br />
            Категория СЕ<br />
            Св-во международника<br />
            Базовый курс ADR
          </td>
          <td class="col3">от 2 500 BYN<br>
            (от километра)</td>
          <td class="col4"><button class="btn-reset" data-graph-path="main__modal" data-graph-speed="200">Откликнуться</button></td>
        </tr>
        <tr>
          <td class="col1">Автослесарь-механик</td>
          <td class="col2">
            Стаж от 1 года<br />
            Образование приветствуется
          </td>
          <td class="col3">от 1 000 до 3 000 BYN<br>
            (от выработки)</td>
          <td class="col4"><button class="btn-reset" data-graph-path="main__modal" data-graph-speed="200">Откликнуться</button></td>
        </tr>
        <tr>
          <td class="col1">Автоэлектрик</td>
          <td class="col2">
            Стаж от 1 года<br />
            Образование приветствуется
          </td>
          <td class="col3">от 1 000 BYN<br>
            (от выработки)</td>
          <td class="col4"><button class="btn-reset" data-graph-path="main__modal" data-graph-speed="200">Откликнуться</button></td>
        </tr>
      </table>
      <picture>
        <source srcset="img/worker_1.avif" type="image/avif">
        <source srcset="img/worker_1.webp" type="image/webp">
        <img loading="lazy" src="img/worker_1.jpg" class="image vacancies__img" alt="Worker">
      </picture>
    </div>
  </div>
</section>
