<section class="work">
  <div class="container work__container">
    <div class="work__content">
      <div class="work__title title">
        Работа в Гречко-Транс-Сервис
      </div>
      <div class="work__desc desc">
        Оцените свой потенциал и напишите нам, чтобы присоединиться к нашей быстроразвивающейся компании. 
      </div>
      <div class="work__btn btn-reset prime-btn">
        Открытые вакансии
      </div>
    </div>
    <div class="work__img">
      <img src="/img/work.jpg" alt="ar">
    </div>
  </div>
</section>
